
<div id="home">
	<% if notice %>
		<div class="alert alert-info alert-dismissable animated tada fade in text-center">
			<button class="close" data-dismiss="alert">&times;</button>
			<p id="notice"><%= notice %></p>
		</div>
	<% end %>
	<div class="row">
		<div id="mycarousel" class="carousel slide col-md-6" data-ride="carousel" data-interval="3000">
			<ol class="carousel-indicator list-unstyled">
				<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
				<li data-target="#my_carousel" data-slide-to="1"></li>
				<li data-target="#my_carousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= link_to @articles[@nb1] do %>
						<%= image_tag @articles[@nb1].image %>
					<% end %>
				</div>
				<div class="item">
					<%= link_to @articles[@nb2] do %>
						<%= image_tag @articles[@nb2].image %>
					<% end %>
				</div>
				<div class="item">
					<%= link_to @articles[@nb3] do %>
						<%= image_tag @articles[@nb3].image %>
					<% end %>
				</div>

			</div>

			<a class="left carousel-control" href="#mycarousel" role='button' data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="col-md-6 text_carousel text-center">
			<h1>Lorem ipsum</h1>
			<p>J’ai très tôt renoncé à la viande et un jour viendra où les hommes tels que moi proscriront le meurtre des animaux comme ils proscrivent aujourd’hui le meurtre de leurs semblables.» (Léonard de Vinci)</p>
		</div>
	</div>

	<% @articles.each.with_index do |article, i| %>
		<% if (i % 3) == 0 %>
			<div class="row">
		<% end %>

			<div class="col-sm-4 animate">
				<%= link_to article do %>
					<div class="title text-center">
						<h3><%= article.title %></h3>
					</div>
					<%= image_tag article.image %>
   			<% end %>
			</div>

		<% if i % 3 == 2 %>
			</div>
		<% end %>

	<% end %>
</div>
