
<div id="home">
	<p id="notice"><%= notice %></p>

	<div class="row">
		<div id="mycarousel" class="carousel slide col-md-6" data-ride="carousel">
			<ol class="carousel-indicator">
				<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
				<li data-target="#my_carousel" data-slide-to="2"></li>
				<li data-target="#my_carousel" data-slide-to="3"></li>
			</ol>

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag "hamburger.jpg" %>
				</div>
				<div class="item">
					<%= image_tag "hamburger.jpg" %>
				</div>
				<div class="item">
					<%= image_tag "hamburger.jpg" %>
				</div>
			</div>

			<a class="left carousel-control" href="#mycarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#mycarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<div class="col-md-6">
			<h1>Lorem ipsum</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
		</div>
	</div>



	<% @articles.each.with_index do |article, i| %>
		<% if i % 3 == 0 %>
			<div class="row">
		<% end %>

			<div class="col-sm-4">
				<%= link_to article do %>
					<h3><%= article.title %></h3>
	      	<p><%= article.text %></p>
					<%= image_tag article.image %>
   			<% end %>
			</div>

	<% if i % 3 == 0 && i != 0 %>
		</div>
	<% end %>

	<% end %>
</div>
