<p id="notice"><%= notice %></p>

<div id="home">
	<% @articles.each do |article| %>
    <%= link_to article do %>
    	<div class="row bloc">
	    	<div class="col-sm-4">
	      	<%= article.photo %>
	    	</div>
	    	<div class="col-sm-8">
	      	<h3><%= article.title %></h3>
	      	<p><%= article.text %></p>
	    	</div>
    	</div>
   	<% end %>
	<% end %>
</div>