<p id="notice"><%= notice %></p>
<div id="article_index">
<%= link_to 'Nouvel Article', new_article_path, class: "btn btn-info" %>
  <h4>Liste des articles en ligne</h4>
    <table class="table table-striped">
      <tbody>
        <% @articles.each do |article| %>
          <% if article.status == 'En ligne' %>
            <tr>
              <td><%= article.title %></td>
              <td><%= link_to 'Détails', article %></td>
              <td><%= link_to 'Modifier', edit_article_path(article) %></td>
              <td><%= link_to 'Supprimer', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <h4>Liste des articles en attente</h4>
    <table class="table table-striped">
      <tbody>
        <% @articles.each do |article| %>
          <% if article.status == 'En attente' %>
            <tr>
              <td><%= article.title %></td>
              <td><%= link_to 'Détails', article %></td>
              <td><%= link_to 'Modifier', edit_article_path(article) %></td>
              <td><%= link_to 'Supprimer', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
