<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @article.photo %>
</p>

<h3>commentaires</h3>

<% @article.comments.each do |comment| %>
	<p><%= comment.text %></p>
        <%= link_to 'supprimer', comment, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if current_user %>
	<%= render 'comments/form' %>
<% else %>
	<p>Vous devez vous connecter</p>
<% end %>



