<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @article.photo %>
</p>

<h3>commentaires</h3>

<% @article.comments.each do |comment| %>
	<p><%= comment.text %></p>
  <p><%= "#{comment.likes.count} likes" %></p>
  <% if current_user && (comment.user.id == current_user.id || current_user.admin?) %>
    <%= link_to 'supprimer', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if !comment.liked_by?(current_user) %>
      <%= form_for(@like) do |f| %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= image_submit_tag("like.png") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_user %>
  <%= render 'comments/form' %>
<% else %>
	<p>Vous devez vous connecter</p>
<% end %>



