<div id="user_index">
	<h4>Mes utilisateurs</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.firstname %></td>
					<td><%= user.lastname %></td>
					<td><%= user.email %></td>
	        		<td><%= link_to 'Supprimer', users_destroy_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        		<td><%= link_to 'Afficher', users_show_path(id: user.id)%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
