<div id="user_show">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row detail_user text-center">
				<div class="col-md-3 col-md-offset-3 photo_bloc">
					<%= image_tag @user.photo, class: "photo" %>
				</div>
				<div class="col-sm-3">
					<h3><%= @user.lastname %></3>
					<h4><%= @user.firstname %></h4>
					<p><%= @user.email %></p>
					<% if current_user.id == @user.id %>
						<%= link_to "edit", edit_user_registration_path, class: "btn btn-info" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="detail_comment">
		<h3 class="text-center">Mes commentaires</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Commentaires</th>
						<th>Nb de likes</th>
					</tr>
				</thead>
				<tbody>
					<% @user.comments.each do |comment| %>
						<tr>
							<td><%= comment.article.title %></td>
							<td><%= comment.text %></td>
							<td>
								<div class="dropup">
									<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
										<%= "#{comment.likes.count} likes" %><span class="caret"></span>
									</button>
									<% if comment.likes.count != 0 %>
										<ul class="dropdown-menu dropdown-menu-right">
											<% comment.likes.each do |like| %>
											<li><a href="#"><%= like.user.lastname %> <%= like.user.firstname %></a></li>
											<% end %>
										</ul>
									<% end %>
								</div>
							</td>
						<tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="detail_comment">
		<h3 class="text-center">Mes commentaires likés</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Commentaires</th>
						<th>Nb de likes</th>
					</tr>
				</thead>
				<tbody>
					<% @user.comments.each do |comment| %>
						<% if comment.likes.any? %>
							<tr>
								<td><%= comment.article.title %></td>
								<td><%= comment.text %></td>
								<td>
									<div class="dropup">
										<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
								  	<%= "#{comment.likes.count} likes" %><span class="caret"></span>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<% comment.likes.each do |like| %>
												<li><a href="#"><%= like.user.lastname %> <%= like.user.firstname %></a></li>
											<% end %>
										</ul>
									</div>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="detail_comment">
		<h3 class="text-center">Les commentaire que j'ai liké</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Commentaires</th>
						<th>Posteur</th>
						<th>Nb de likes</th>
					</tr>
				</thead>
				<tbody>
					<% @user.likes.each do |like| %>
						<tr>
							<td><%= like.comment.article.title %></td>
							<td><%= like.comment.text %></td>
							<td><%= like.comment.user.lastname %> <%= like.comment.user.firstname %></td>
							<td>
								<div class="dropup">
									<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
							  	<%= "#{like.comment.likes.count} likes" %><span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
										<% like.comment.likes.each do |like| %>
												<li><a href="#"><%= like.user.lastname %> <%= like.user.firstname %></a></li>
										<% end %>
									</ul>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

</div>
