<div class="container" id="session_new">
  <% if notice %>
    <div class="alert alert-info alert-dismissable animated tada fade in text-center">
      <button class="close" data-dismiss="alert">&times;</button>
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Connectez-vous !</h3>
        </div>

        <div class="panel-body">
          <fieldset>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, "Mot de passe" %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
            <%= render "devise/shared/links" %>
            <% if devise_mapping.rememberable? -%>
              <%= f.label :remember_me, "Se souvenir de moi" %>
              <%= f.check_box :remember_me %>
            <% end %>
            </div>
            <%= f.submit "Connexion", class: "btn btn-lg btn-block btn-lg" %>
            <% end %>
          </fieldset>
        </div>

        <div class="panel-heading"></div>
      </div>

    </div>
  </div>
</div>
