<!DOCTYPE html>
<html>
	<head>
		<title>Vegeblog</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arvo" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="<% params[:controller] %> <% params[:action] %>">
		<%= render "layouts/header" %>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
